*{
  font-size: 20px;
  color: azure;
}
body{
  background-color: rgb(0, 0, 0);
}
code, pre{
  margin: 0px;
}
span{
  color: chartreuse;
}
pre, pre ul, pre ol, pre dl{
  background-color: #333333;
  margin: 0;
  padding: 0;
}


